<div class="row">
<div class="col-md-4">

<p><b>Food Type: </b>{% if location.food %}{{ location.get_food_display }}{% else %}----{% endif %}</p> 
<p><b>WIFI: </b>{% if location.wifi %}{{ location.get_wifi_display }}{% else %}----{% endif %}</p>
<p><b>Outlets: </b>{% if location.outlets %}{{ location.get_outlets_display }}{% else %}----{% endif %}</p>
<p><b>Bathrooms: </b>{% if location.bathrooms %}{{ location.get_bathrooms_display }}{% else %}----{% endif %}</p>
<p><b>Price: </b>{% if location.price %}{{ location.get_price_display }}{% else %}----{% endif %}</p>
</div>
<div class="col-md-4">
<p><b>Coffee: </b>{% if location.coffee %}{{ location.get_coffee_display }}{% else %}----{% endif %}</p>
<p><b>Alcohol: </b>{% if location.alcohol %}{{ location.get_alcohol_display }}{% else %}----{% endif %}</p>
<p><b>Outdoor Seating: </b>{% if location.outdoor %}{{ location.get_outdoor_display }}{% else %}----{% endif %}</p>
<p><b>Accepts Credit Cards: </b>{% if location.credit_card %}{{ location.get_credit_card_display }}{% else %}----{% endif %}</p>
</div>
</div>