<div class="row">
<div class="col-md-4">
 
<p><b>Type: </b>{% if location.bar %}{{ location.get_bar_display }}{% else %}----{% endif %}</p>
<p><b>Food: </b>{% if location.food %}{{ location.get_food_display }}{% else %}----{% endif %}</p>
<p><b>Bathrooms: </b>{% if location.bathrooms %}{{ location.get_bathrooms_display }}{% else %}----{% endif %}</p>
<p><b>Outdoor Seating: </b>{% if location.outdoor %}{{ location.get_outdoor_display }}{% else %}----{% endif %}</p>

</div>
<div class="col-md-4">
<p><b>Wi-Fi: </b>{% if location.wifi %}{{ location.get_free_wifi_display }}{% else %}----{% endif %}</p>
<p><b>Price: </b>{% if location.price %}{{ location.get_price_display }}{% else %}----{% endif %}</p>
<p><b>Accepts Credit Cards: </b>{% if location.credit_card %}{{ location.get_credit_card_display }}{% else %}----{% endif %}</p>
</div>
</div>