{% extends "base/theme.html" %}
{% load bootstrap_pagination %}

{% block main_content %}
<div class="data-layer">
	<ul>
		
	{% for location in object_list %}
		<li class="location-data" data-latitude="{{ location.position.latitude }}" data-longitude="{{ location.position.longitude }}" data-id="{{ location.id }}">{{ location.title }}</li>
	{% endfor %}
	</ul>
</div>
<div id="map" class="wide-map"></div>
<div class="row main-content">
	<div class = "col-md-2"></div>
	<div class = "col-md-8">
		<div class='row'>
			<div class = "col-md-4">
				<h1>Night Clubs</h1>
			</div> 
			<div class = "col-md-8">
			<nav class="navbar navbar-inverse">
  				<div class="container-fluid">
   			 <div>
      		<ul class="nav navbar-nav">
        		<li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Price <span class="caret"></span></a>
          			<ul class="dropdown-menu">
            		<li><a href="/app/clubs/search/price/?query=1">$</a></li>
            		<li><a href="/app/clubs/search/price/?query=2">$$</a></li>
            		<li><a href="/app/clubs/search/price/?query=3">$$$</a></li>
          			</ul>
        		</li>
        		<li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Entrance fee<span class="caret"></span></a>
          			<ul class="dropdown-menu">
            		<li><a href="/app/clubs/search/entrance_fee/?query=1">$1-%50</a></li>
            		<li><a href="/app/clubs/search/entrance_fee/?query=2">$50-$100</a></li>
            		<li><a href="/app/clubs/search/entrance_fee/?query=3">$100-$200</a></li>
            		<li><a href="/app/clubs/search/entrance_fee/?query=4">$200-$300</a></li>
            		<li><a href="/app/clubs/search/entrance_fee/?query=5">$300-$400</a></li>
            		<li><a href="/app/clubs/search/entrance_fee/?query=6">$400-$500</a></li>
            		<li><a href="/app/clubs/search/entrance_fee/?query=7">$500+</a></li>
          			</ul>
        		</li>
        		<li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Music Type<span class="caret"></span></a>
          			<ul class="dropdown-menu">
            		<li><a href="/app/clubs/search/club/?query=1">Dance/Electronic</a></li>
            		<li><a href="/app/clubs/search/club/?query=2">Karaoke</a></li>
            		<li><a href="/app/clubs/search/club/?query=3">60s-70s-80s</a></li>
            		<li><a href="/app/clubs/search/club/?query=4">Reggaeton</a></li>
            		<li><a href="/app/clubs/search/club/?query=5">Salsa</a></li>
            		<li><a href="/app/clubs/search/club/?query=6">Other</a></li>
          			</ul>
        		</li>
        		<li><a href="/app/clubs/search/credit_card/?query=1">Credit Card</a></li>
        		<li><a href="/app/clubs/search/outdoor/?query=1">Outside</a></li>
        		<li><a href="/app/clubs/search/free_bar/?query=1">Free Bar</a></li>
      		</ul>
    		</div>
  			</div>
			</nav>
			</div>
		</div>
	
	{% for location in object_list %}
		<div class='row'>
			<div class="col-md-8">
				<h3><a href="{{ location.get_absolute_url }}">{{ location.title }}</a></h3>
				{% if location.address %}<p><b> Location: </b> {{ location.address }} </b></p> {% endif %}
			</br>
			<p> {{ location.description }} <p>
			{% include 'club/specifics.html' with location=location %}
			</div>
			<div class="col-md-4 text-right">
				<h3>{% include 'base/rating.html' with rating=location.get_average_rating %}
				<img src= "{{location.image_file.url }}" class="img-responsive" max-width='100%'></img>
				</div>
			<div class="col-md-4 text-left">
				{% if location.hours %}
				<p><b>Hours:</b></p>
				<p> {{ location.hours }} </p> 
				{% endif %}
			</div>
		</div>
	{% endfor %}
	</div>
	</div>
	<div class="col-md-2"></div>
</div>
{% endblock %}

{% block pagination %}
 {% bootstrap_paginate page_obj range=10 show_prev_next="false" show_first_last="true" %}
{% endblock %}